.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.calculator {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    max-width: 300px;
}

.result-label {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: right;
}